.App {
  text-align: center;
}
body{
  background-image: linear-gradient(white, #5f65e9);
  height: 100vh;
}
h1{
  text-decoration: underline;
}
.card{
  border: 1px solid black;
  width: 33%;
  margin: 0 auto;
  margin-bottom: 1%;
  background-image: linear-gradient(white, #d8dafc);
}
.form{
  margin-bottom: 2%;
}
.submitBut{
  margin-left: 20%;
  background-image: linear-gradient(white, #d8dafc);
}
.submitBut:hover{
  cursor: pointer;
}